<table>
  <tr>
    <td>Name</td>
    <td>Username</td>
    <td>Email</td>
    <td>Admin</td>
    <td>Action</td>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.name %></td>
      <td><%= u.username %></td>
      <td><%= u.email %></td>
      <td><%= u.admin? ? "Admin" : "Reguler" %></td>
      <td>
        <%= button_to "make admin", grant_admin_user_path(u), method: :put %>
        <%= button_to "revoke admin", revoke_admin_user_path(u), method: :put %>
      </td>
    </tr>
  <% end %>
</table>
